@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap")
  @import
  url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-sm border-2 px-3 py-1 rounded-full  duration-300 hover:border-transparent focus:outline-none focus:ring-green-500 focus:ring-2 focus:ring-offset-2;
  }

  .btn-purple {
    @apply text-purple-500 hover:bg-red-600 hover:text-white duration-300  focus:ring-green-500 focus:ring-2 focus:ring-offset-2;
  }
  .btn-green {
    @apply text-amber-500 hover:bg-green-600 hover:text-white duration-300  focus:ring-green-500 focus:ring-2 focus:ring-offset-2;
  }
  .image_sumit {
    @apply h-24 w-24 rounded-full mx-auto ring-2 ring-green-600 shrink-0 transform hover:scale-105 duration-500 cursor-pointer;
  }

  .main_container {
    @apply max-w-sm md:max-w-md flex flex-col md:flex-row md:space-x-6 md:justify-center md:items-center bg-white p-8 rounded-xl  shadow-md space-y-1;
  }
  .main_div {
    @apply px-6 font-Dm;
  }
  .heading_clr {
    @apply text-base text-[#00A99D];
  }
}
